.about-container {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.link-container div a {
    margin-left: 10px;
    color: var(--bright);
    text-decoration: none;
    vertical-align: middle;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.img-div img {
    width: 200px;
    border-radius: 5px;
}