.App {
    text-align: left;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.app-container {
    text-align: left;
    height: 100vh;
}

.site-body {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    padding-left: 20vh;
    padding-right: 20vh;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.main-content {
    font-family: 'Lora', serif;
}

.main-content a {
    color: var(--bright);
    text-decoration: none;
}

.main-content a:hover {
    filter: brightness(70%);
}

@keyframes App-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

p {
    color: var(--main-text)
}

.site-body h1 {
    font-size: 36px;
}

hr {
    margin: 2em 0;
    text-align: center;
    line-height: 1px;
    height: 1px;
    background: $light;
    border: 15px solid $light;
    border-left: 0;
    border-right: 0;
    font-size: 1.5em;
    &:after {
      content: attr(txt);
      color: $light;
      display: inline;
      background: $light;
      padding: .2em .5em;
      border: 1px solid $light;
      border-radius: 100px;
      transition: .3s ease all;
    }
    &:before {
      position: absolute;
      content: '';
      background: transparent;
      border-spacing: 10px;
      margin-top: -24px;
      transform: scale(.5);
      margin-left: 1px;
      width: 49px;
      height: 49px;
      transition: .3s ease-out all;
      border-radius: 100px;
    }
}



.app-container {

    h1 {
        color: var(--header-text)
    }

    h3 {
        color: var(--header-text)
    }

    h4 {
        color: var(--header-text)
    }

    h5 {
        color: var(--header-text)
    }

}

.danger {
    color: var(--danger-text)
}

.page-header {
    margin-bottom: 1em;
}