.contact-end {
    display: none;
    justify-content: right;
    margin-top: 2em;
}

#contact-mode-toggle {
    display: none;
    margin-left: auto;
    margin-top: auto;
}

.logo-label {
    margin-left: 10px;
    color: var(--bright);
    text-decoration: none;
    vertical-align: middle;
}

.contact-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}