@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/_mixins";

// light theme
:root {
    --link: #4600f9;
    --link-hover: #290090;
    --nav-link: #919191;
    --nav-link-hover: #565656;
    --button-background: #eeeded;
    --button-background-hover: #dddddd;
    --button-border: #eeeded;
}

$primary: #4600f9;
$secondary: #aeaeae;
$success: #3e8d63;
$info: #d7caff;
$warning: #fffc2e;
$danger: #d62518;
$light: #c9c9c9;
$dark: #5a5a5a;


// dark theme
.dark {

    /* redefine theme colors for dark theme */
    $primary: #4600f9;
    $secondary: #c0c4d8;
    $success: #222222;
    $dark: #000;
    
    $theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "info": $indigo,
        "dark": $dark,
        "light": $light
    );

    /* redefine theme color variables */
    @each $color, $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }

    /* redefine theme color rgb vars (used for bg- colors) */
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
    @each $color, $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }

    $body-color: #ffffff;
    $body-bg: #0e101f;

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};
      
    --button-background: transparent;
    --button-background-hover: #000000;
    --button-border: #c0c4d8;
}
