@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/_mixins";

// light theme
:root {
    --body-background: #fefefe;
    --bright: #55f;
    --gray: #868686;
    --gray-dark: #767676;
    --gray-light: #c6c6c6;
    --dropdown-hover: #eeeded;
    --main-text: #404040;
    --softer-text: #595959;
    --button-border: #eeeded;
    --button-background: #eeeded;
    --button-background-hover: #dfdfdf;
    --body-background: #ffffff;
    --body-color: #000000;
    --header-text: #2c2c2c;
    --text-logo: #606060;
    --danger-text: #be2424;
}

[data-theme="dark"] {
    $body-color: #ffffff;
    $body-bg: #262831;

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};
      
    --bright: #8f72f9;
    --body-background: #262831;
    --body-color: #ffffff;
    --gray: #bfbfbf;
    --button-background: transparent;
    --button-background-hover: #1d1e21;
    --button-border: var(--gray);
    --gray-dark: #565656;
    --gray-light: #c6c6c6;
    --main-text: #dedede;
    --softer-text: #c1c1c1;
    --dropdown-hover: #5a5a5a;
    --header-text: #f3f3f3;
    --text-logo: #c6c6c6;
    --danger-text: #ff4343;
}

// dark theme
.dark-mode {

    /* redefine theme colors for dark theme */
    $primary: #55f;
    $secondary: #c0c4d8;
    $success: #222222;
    $dark: #000;
    
    $theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "info": $indigo,
        "dark": $dark,
        "light": $light
    );

    /* redefine theme color variables */
    @each $color, $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }

    /* redefine theme color rgb vars (used for bg- colors) */
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
    @each $color, $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }

    $body-color: #ffffff;
    $body-bg: #262831;

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};
      
    --bright: #8f72f9;
    --body-background: #262831;
    --gray: #bfbfbf;
    --button-background: transparent;
    --button-background-hover: #1d1e21;
    --button-border: var(--gray);
    --gray-dark: #565656;
    --gray-light: #c6c6c6;
    --main-text: #dedede;
    --softer-text: #c1c1c1;
    --dropdown-hover: #5a5a5a;
    --header-text: #f3f3f3;
    --text-logo: #c6c6c6;
    --danger-text: #ff4343;
}
